.kl-button {

  &.is-disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

.kl-button--link {
  color: $link-color;

  &:hover {
    background-image: none;
    text-decoration: underline;
  }
}
