$fa-font-path: "font-awesome/fonts";
$footer-height: 3em;
$auto-complete-select-color: #88f;
$auto-complete-input-width: 50em;


// Customize BassCSS variables
$silver: #eee;
$blue: #0074d9;

$link-color: $blue;

$button-font-weight: normal;

$pre-background-color: $silver;

$text-low-importance-color: #aaa;
$text-low-importance-font-size: smaller;
