$icon-font-path: "/assets/bootstrap-sass-official/assets/fonts/bootstrap";
$fa-font-path: "/assets/font-awesome/fonts";
$footer-height: 3em;

@import 'bower_components/font-awesome/scss/font-awesome';
@import 'bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap';

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: $footer-height;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footer-height;
  background-color: #f5f5f5;
  color: #999;

  dl {
    margin: 1em;
    margin-bottom: 0;
    border: 0;
    background-color: inherit;
  }

  dt, dd {
    display: inline;
    font-weight: normal;
  }

  dd:after {
    content: ' | ';
  }

  dd:last-child:after {
    content: '';
  }
}

img.package-icon {
    width: 50px;
    height: auto;
}

div.code-snippet {
    border: 5px solid silver;
    background-color: #222;
    color: #e2e2e2;
    border-radius: 5px;
    padding: 1em;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 2em;
}

div.code-snippet button {
    margin-right: 1em;
    color: #555;
    width: 30px;
    height: 28px;
}

div.code-snippet input {
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
    background-color: #222;
    color: #e2e2e2;

    border:  0;
    width: 90%;
    width: calc(100% - 30px - 2em);
}

div.code-snippet div.message {
    display: none;
    position: absolute;
    background-color: #ffa;
    color: black;
    padding: 2px;
    border: 1px solid black;
}

dl {
    border-left: 2px solid #ddd;
    border-top: 2px solid #ddd;
    background-color: #fafafa;
}

#debug-icon .fa-ban {
    color: red;
}

#debug-icon.symbols-available .fa {
    color: green;
}

table.sortable th {
    cursor: pointer;
}

tr.active {
    font-weight: bold;
}

.zeroclipboard-is-hover {
    background-color: #eee;
}

*[itemtype]:before {
    content: '(microdata object: ' attr(itemtype) ') ';
}

label > input[type="text"], label > input[type="password"] {
    display: block;
}

label {
    display: block;
}

.navbar-nav > li > input {
    margin-top: 12px;
}

main {
    margin-top: 2em;
}

#status-code {
    position: absolute;
    top: 0;
    font-size: 300pt;
    color: #ddd;
    margin: 0;
    padding: 0;
    line-height: 1;
    z-index: -1000;
}
