$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';
@import 'nprogress';

dl {
    border-left: 2px solid #ddd;
    border-top: 2px solid #ddd;
    background-color: #fafafa;
}

a[rel]:before {
    content: '(rels: ' attr(rel) ') ';
}

*[itemtype]:before {
    content: '(microdata object: ' attr(itemtype) ') ';
}

label > input[type="text"], label > input[type="password"] {
    display: block;
}

label {
	display: block;
}

nav.user-info {
    float: right;
}

main {
    margin-top: 2em;
}

footer {
    margin-top: 2em;
    color: #999;


    dl {
        margin-bottom: 0;
        border: 0;
        background-color: inherit;
    }

    dt, dd {
        display: inline;
        font-weight: normal;
    }

    dd:after {
        content: ' | ';
    }

    dd:last-child:after {
        content: '';
    }
}
