# compiled output
/.tmp/

# dependencies
/node_modules/
/app/vendor/

# misc
/.sass-cache
/connect.lock
/libpeerconnection.log
.DS_Store
Thumbs.db

# .net
App_Data/
bin/
obj/
/build/
/Release/
/source/packages/
_NCrunch*
*.ncrunch*
*.user
*.suo
_ReSharper.*

