# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp

# dependencies
/node_modules
/bower_components

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
.DS_Store
Thumbs.db
.ember-cli

# .net
App_Data/
bin/
obj/
/build/
/Release/
/packages/
_NCrunch*
*.ncrunch*
*.user
*.suo
_ReSharper.*
integration-tests/out.txt
NuGet.exe
Klondike.sln.ide/
npm-debug.log
testem.log
