<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear/>
    <add key="DNX" value="https://www.myget.org/F/aspnetvnext/api/v2/" />
    <add key="NuGet.org" value="https://www.nuget.org/api/v2/" />
    <add key="NuGet.Lucene.vNext" value="https://ci.appveyor.com/nuget/nuget-lucene-gsxts1jkyeml" />
  </packageSources>
</configuration>
