<h1>Accounts</h1>

<ul>
{{#each user in model}}
    <li>
        {{#if canEdit}}
            {{#linkTo 'users.edit' user}}{{user.username}}{{/linkTo}}
        {{else}}
            {{user.username}}
        {{/if}}
    </li>
{{/each}}
</ul>

{{#if canEdit}}
    {{#linkTo 'users.add'}}Add Account{{/linkTo}}
{{/if}}
