<h1>Accounts</h1>

<ul>
{{#each user in model}}
    <li>
        {{#if canEdit}}
            {{#link-to 'users.edit' user}}{{user.username}}{{/link-to}}
        {{else}}
            {{user.username}}
        {{/if}}
    </li>
{{/each}}
</ul>

{{#if canEdit}}
    {{#link-to 'users.add'}}Add Account{{/link-to}}
{{else}}
    <p class="not-authorized">You are not allowed to modify accounts.</p>
{{/if}}
