<section class="package-admin">
    <h2>Package Index</h2>
    <p>
        If the package directory has been modified outside of Klondike,
        it can be synchronized with the Lucene index manually here.
    </p>
    {{#if canSynchronize}}
        <button {{action "synchronize"}} {{bind-attr disabled="isRunning"}}>Synchronize Packages</button>
        <button {{action "cancel"}}>Cancel</button>
    {{else}}
        <p class="not-authorized">You are not allowed to synchronize packages.</p>
    {{/if}}
</section>

<section class="user-admin">
    <h2>Accounts</h2>
    {{#link-to 'users.list'}}Manage Accounts{{/link-to}}
</section>
