{{#if errorMessage}}
    <div class="error">
        {{errorMessage}}
    </div>
{{/if}}
<label>
    Username
    {{input type="text" value=username action="logIn"}}
</label>
<label>
    Password
    {{input type="password" value=password action="logIn"}}
</label>

<button {{action "logIn"}}>Log in</button>


