{{#if isRedirected}}
    <p class="login-required-message">
        Please log in to continue.
    </p>
{{/if}}

{{#if errorMessage}}
    <div class="error">
        {{errorMessage}}
    </div>
{{/if}}
<label>
    Username
    {{focus-input type="text" value=username action="logIn"}}
</label>
<label>
    Password
    {{input type="password" value=password action="logIn"}}
</label>

<button {{action "logIn"}}>Log in</button>


